*{box-sizing:border-box;}
body{
	color: #2fbcfd;
	margin-left:3em;
	margin-right:3em;
	margin-top:0.1em;
	padding:1em;
	font-family: Berlin Sans FB;
	background-color:#FFEBCD;
	background-image:url(bg1.jpg);
	background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div{
  height: 100%;
  margin-left:13%;
  width:87%;
  background-repeat: no-repeat;
  background-attachment: fixed;}

  header {font-size:2em;
    margin-bottom:0;
	padding-left:0.3em;
	padding-right:0.3em;
	margin: auto;
	height:5.4em;
  }

header h1{
	font-family:Lucida Calligraphy,Cooper Black;
	clear:both;
	padding-top:1%;
	color:#ffffff;
	text-indent:6.2%;	
	white-space:normal;	
}

header h1 img{padding-bottom:0.1%;
padding-right:0.2%;
float:right;
clear:all;
}

h1{
text-align:center;
}

p{font-family:Arial;
  color:rgb(255, 4, 221);
  font-size:1.1em;
}

footer{
	color: #e6e6e6;
	background-color: #479c8e;
	font:normal small-caps bold 1em/3.2em Quicksand,Verdana,Geneva,serif;
	font-size: 80%;
	border-top-style: solid;
	border-top-color:#018dff;
	text-align: center;
	width:100%;
	left:0;
	bottom:0;
   position:fixed;
}

main p,div{
	color:	#0084ff;
	padding-left:1.2em;
	padding-right:1.2em;
	overflow:auto;
}
main h3{color:#b700ff}
body>nav{
	font-size:1.8em;
	line-height:1.2em;
	text-align:center;
	float: left;
    width: 194px;
    font-weight: bold;
    letter-spacing: 0.1em; 
	position: fixed; 
}

nav a{
	list-style-type:none;
	padding-left:0.16em;
	padding-top:0.1em;
	margin-top:0.1em;
	width: 5.3em;
	height:1.6em;
	border: 5px inset #cccccc;
	border-radius:25px;
    display: inline-block;
	color: #0bf199;
	background: rgb(197, 157, 223);
    background: linear-gradient(90deg, rgb(42, 95, 209) 0%, rgb(102,51,153) 50%, rgb(22, 6, 124) 100%);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

nav a:link{ 
	color:rgb(240,230,140);
	text-decoration:none;
}

nav a:hover{
	color:rgb(139,0,0);
	text-decoration:none;
	border: 5px outset #ed4102;
}


table{
	font-family:serif;
    font-size:1em;
	color:rgb(12, 12, 12);
	background-color:silver;
	border-color:black;
    border-spacing: 0.3px;
    box-align: right;
    border:'1'
}

th#title{
	font-weight:bold;
	font-size:2em;
}

th:first-of-type{
	font-size:1.2em;
	font-weight:bold;
	
}

table th img{
	size:600*400px;
}